
BO1_MP/.vs/BO1_MP/v17/Browse.VC.db
BO1_MP/.vs/BO1_MP/v17/Browse.VC.db-shm
BO1_MP/.vs/BO1_MP/v17/Browse.VC.db-wal
BO1_MP/.vs/BO1_MP/v17/Browse.VC.opendb
BO1_MP/.vs/BO1_MP/v17/ipch/AutoPCH/199b4d0067942388/MENU.ipch
*.ipch
BO1_MP/.vs/BO1_MP/v17/.suo
